<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="#com.intellij.j2ee.web.tomcat.TomcatRunConfigurationFactory" factoryName="Remote" APPLICATION_SERVER_NAME="Tomcat 9.0.16" ALTERNATIVE_JRE_ENABLED="false">
    <option name="HOST" value="passchecker.leoforney.tk" />
    <option name="PORT" value="80" />
    <option name="LOCAL" value="false" />
    <option name="OPEN_IN_BROWSER_URL" value="http://passchecker.leoforney.tk/passcheckerserver_0_5_ALPHA_war/" />
    <option name="UPDATING_POLICY" value="redeploy-artifacts" />
    <deployment>
      <file path="$PROJECT_DIR$/build/libs/passcheckerserver-0.5-ALPHA.war">
        <settings>
          <option name="CONTEXT_PATH" value="/passcheckerserver_0_5_ALPHA_war" />
        </settings>
      </file>
    </deployment>
    <server-settings>
      <data>
        <option name="jndiPort" value="8008" />
        <option name="targets">
          <list>
            <WatchedTargetModelImpl>
              <option name="name" value="CONTEXT_XML" />
              <option name="transportStagingTarget">
                <TransportTarget>
                  <option name="id" value="7f2c5eb9-8d54-480a-99f7-be4507930022" />
                  <id>7f2c5eb9-8d54-480a-99f7-be4507930022</id>
                </TransportTarget>
              </option>
              <option name="watchedLocalPath" value="" />
              <watched-path />
              <name>CONTEXT_XML</name>
              <transport-target>
                <TransportTarget>
                  <option name="id" value="7f2c5eb9-8d54-480a-99f7-be4507930022" />
                  <id>7f2c5eb9-8d54-480a-99f7-be4507930022</id>
                </TransportTarget>
              </transport-target>
            </WatchedTargetModelImpl>
            <StagingTargetModelImpl>
              <option name="name" value="STAGING" />
              <option name="stagingRemotePath" value="/" />
              <option name="transportStagingTarget">
                <TransportTarget>
                  <option name="id" value="727388e7-c8ed-4599-b9fc-afa4dd061e48" />
                  <id>727388e7-c8ed-4599-b9fc-afa4dd061e48</id>
                </TransportTarget>
              </option>
              <staging-path>/</staging-path>
              <name>STAGING</name>
              <transport-target>
                <TransportTarget>
                  <option name="id" value="727388e7-c8ed-4599-b9fc-afa4dd061e48" />
                  <id>727388e7-c8ed-4599-b9fc-afa4dd061e48</id>
                </TransportTarget>
              </transport-target>
            </StagingTargetModelImpl>
          </list>
        </option>
        <option name="transportHostId" value="a4719804-d41b-4346-aae9-cfce62f3fe33" />
        <jndi-port>8008</jndi-port>
        <host-id>a4719804-d41b-4346-aae9-cfce62f3fe33</host-id>
      </data>
    </server-settings>
    <predefined_log_file enabled="true" id="Tomcat" />
    <predefined_log_file enabled="true" id="TOMCAT_LOCALHOST_LOG_ID" />
    <RunnerSettings RunnerId="Debug">
      <option name="DEBUG_PORT" value="54390" />
      <option name="LOCAL" value="false" />
    </RunnerSettings>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>